// .inputlabel{
//   margin: 0 20px 0 20px;
//   display: table;
// }
//   span {
//     display: table-cell;
//     vertical-align: middle;
//     font-size: 14px;
//     font-weight: 700;
//   }

//   .datelabel {
//     padding-right: 65px;
//   }
//   .textlabel {
//     padding-right: 468px;
//   }
//   .genrelabel {
//     padding-right: 85px;
//   }
  // .prioritylabel {
  //   margin: 3px 5px 3px;
  // }

.block {
    background-color: var(--color-white);
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
    padding-bottom: 10px;
  }

  .input {
    margin: 3px 5px 3px;
    width: calc(100% - 250px);
    font-size: 15px;
    line-height: 1;
    padding: 8px 15px 8px;
    border: 1px solid var(--color-gray-v4);
    background-color: #fff;
    outline: 0;
    border-radius: 7px;
  }

  .genre {
    text-align: center;
    margin: 3px 5px 3px;
    padding: 8px 15px 8px;
    border: 1px solid var(--color-gray-v4);
    border-radius: 7px;
  }

  .priority{
    text-align: center;
    margin: 3px 5px 3px;
    padding: 8px 15px 8px;
    border: 1px solid var(--color-gray-v4);
    border-radius: 7px;
  }

  .dateblock{
    width: 100px;
  }

  .date{
    width: calc(100% - 10px);
    text-align: center;
    margin: 3px 5px 3px;
    padding: 8px 15px 8px;
    border: 1px solid var(--color-gray-v4);
    border-radius: 7px;
  }

.blockBottom {
  margin-top: 10px;
  text-align:center
}

  .button {
    font-size: 14px;
    font-weight: 700;
    min-height: 30px;
    background-color: var(--color-green);
    color: var(--color-white);
    text-align: center;
    line-height: 1;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 3px;
    margin-right: 3px;
    letter-spacing: -0.1em;
    &:hover {
      background-color: var(--color-green-v2);
    }
  }
