:root {
  --family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  --color-black: #373737;
  --color-white: #fff;
  --color-gray: #eceff1;
  --color-gray-v2: #a8abb1;
  //--color-gray-v3: #6f7372;
  --color-gray-v4: #8e8e8e;
  --color-gray-v5: #616161;
  --color-gray-v6: #9e9e9e;
  --color-gray-v7: #707070;
  --color-gray-v8: #546e7a;
  --color-blue: #0288d1;
  //--color-blue-v2: #1565c0;
  //--color-blue-v3: #2286c3;
  --color-green: #4caf50;
  --color-green-v2: #087f23;
  --color-green-v3: #2e7d32;
  --color-orange: #ef6c00;
}